# F3V3R DR34M - H1DD3N F1L3Z

# D3P3ND3NC13Z
node_modules/
npm-debug.log
yarn-error.log

# 0P3R4T1NG SYS T3MP F1L3Z
.DS_Store
Thumbs.db

# 3D1T0R C0NF1GZ
.vscode/
.idea/

# B U1LD 0UTPUTZ
dist/
build/

# L0G F1L3Z
*.log
